@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --lightgrey: hsl(212, 45%, 89%);
  --greyblue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);
}

body {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  background: var(--lightgrey);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 300px;
  height: 500px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  background-color: rgba (255, 255, 255, 0.3);
}

.inner-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.text h2 {
  font-size: 23px;
  display: flex;
  text-align: center;
}

.text p {
  font-size: 17px;
  display: flex;
  text-align: center;
  color: var(--greyblue);
}
