@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  background: hsl(220, 15%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 300px;
  height: 500px;
  background: white;
  display: flex;
  flex-direction: column;
  font-family: "Quicksand";
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background-color: rgba (255, 255, 255, 0.3);
  margin: 10px;
}

.inner-box {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 10px;
  width: 300px;
  height: 300px;
}
